@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

.product-details{
    font-family: Inter;
    color: rgb(120, 120, 133);
    font-size: 14px;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 1.8%;
    text-align: left;
}
body{
    max-width: 1440px;
    margin: 0  auto;
    font-family: Poppins;
    color: rgb(58, 58, 58);
}

/*-----------Header--------*/

nav{
    margin-top: 8.7rem ;
    padding: 0 8.6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

nav h4{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 36px;
}

menu a{
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 600;
    line-height: 2.4rem;
}

ul{
    display: flex;
    list-style: none;
    gap: 3.4rem;
}

/*----------Header Banner ------------*/

.header-banner{
    margin-top: 50px;
    padding: 0 8.6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 9%;
}
.header-banner h1{
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 7rem;
}
.header-banner p , .header-banner button{
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
    margin: 1.6rem 0;
}

button{
    border-radius: 41px;
    background: rgb(224, 44, 109);
    color: white;
    border: none;   
    padding: 1rem 2.4rem;

}

.left-container{
    flex: 1;
}
.img-container{
    flex: 1;
    background: url(../images/Circle\ design.svg) no-repeat center/cover;
}
.img-container img{
    width: 100%;
}

/*--------Sponsor----------*/

.sponsor{
    max-width: 1110px;
    height: 110px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    background:linear-gradient(135.00deg, rgba(192, 204, 218, 0.1) 0%,rgba(192, 204, 218, 0.6) 50.378%,rgba(192, 204, 218, 0.1) 100%);
}
.sponsor .img{
    height:108px;   
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
}

/*------------Collection Section---------*/

.products{
    margin:0 13.6%;
    margin-top: 10rem;
}
.products h1{
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 7rem;
    margin-bottom: 3rem;
    text-align: center;
}
.product-grid{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 3rem;
}
.card{
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
}
.card h4{
    color: rgb(24, 25, 31);
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 4rem;
}
.card >p{
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 2.4rem;
    line-height: 6rem;
}

.rating{
    display: flex;
    gap: 1rem;
}
.rating img{
    height: 16px;
}
.rating p{
    color: rgb(94, 99, 102);
    font-size: 1.6rem;
    font-family: Roboto;
    font-weight: 800;
    line-height: 2rem;
}
 #product-details{
    color: rgb(120, 120, 133);
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 145%;
    letter-spacing: 2%;
    margin-top: 5px;
    margin-bottom: 20px;
}
.see-more {
    padding-top: 50px;
    text-align: right;
}
.see-more a{
    color: rgba(224, 44, 109, 0.87);
    text-decoration: none;
    padding-top: 5rem;
    font-size: 1.6rem;
    font-weight: 700;
}
